<h2>Регистрация</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-4 buffer-top">
      <%= f.input :email, placeholder: 'user@domain.com' %>
      <%= f.input :password, autocomplete: "off" %>
      <%= f.input :password_confirmation, autocomplete: "off" %>
      <%= f.button :submit, "Зарегистрироваться", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<div class="buffer-both">
  <%= render "devise/shared/links" %>
</div>
