
<%= simple_form_for(@order, html: { class: 'form-horizontal' }) do |f| %>


  <%= f.input :first_dish, as: :radio_buttons %>
  <%= f.button :submit, 'Отправить', class: 'btn btn-primary' %>
<% end %>
