<% if current_user == User.first %>
  <h1>Заказы</h1>

  <div class="row">
    <div class="col-md-12 buffer-top">
      <table class="table table-striped">
        <tr>
          <td><b>ID</b></td>
          <td><b>Пользователь</b></td>
          <td><b>Дата заказа</b></td>
          <td><b>Первое</b></td>
          <td><b>Второе</b></td>
          <td><b>Напиток</b></td>
          <td><b>Общая сумма заказа</b></td>
        </tr>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.user.name %></td>
            <td><%= l order.created_at, format: :long %></td>
            <td><%= Item.find(order.first_dish).name %></td>
            <td><%= Item.find(order.second_dish).name %></td>
            <td><%= Item.find(order.drink).name %></td>
            <td><%= Item.find(order.first_dish).price + Item.find(order.second_dish).price + Item.find(order.drink).price %> руб.</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <p>Здесь может шариться только Admin</p>
<% end %>
