<%= simple_form_for(@item, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :name, placeholder: 'название блюда' %>
  <%= f.input :category, collection: [ "Первое", "Второе", "Напиток"] %>
  <%= f.file_field :photo, label: "Загрузить фото" %>
  <%= f.input :price, placeholder: 'cтоимость' %>
  <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %>
  или <%= link_to 'вернуться', :back %>
<% end %>


