<% if current_user == User.first %>

  <h1>Редактирование блюда</h1>
  <%= render 'form', item: @item %>

  <%= link_to 'Show', @item %> |
  <%= link_to 'Back', items_path %>

<% else %>
  <p>Здесь может шариться только Admin</p>
<% end %>
