<h1>Все блюда</h1>

<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#today" data-toggle="tab"><%= Date::DAYNAMES[Date.today.wday] %></a></li>
  <li class=""><a href="#today-1" data-toggle="tab"><%= Date::DAYNAMES[Date.today.wday-1] %></a></li>
  <li class=""><a href="#today-2" data-toggle="tab"><%= Date::DAYNAMES[Date.today.wday-2] %></a></li>
  <li class=""><a href="#today-3" data-toggle="tab"><%= Date::DAYNAMES[Date.today.wday-3] %></a></li>
  <li class=""><a href="#today-4" data-toggle="tab"><%= Date::DAYNAMES[Date.today.wday-4] %></a></li>
  <li class=""><a href="#today-5" data-toggle="tab"><%= Date::DAYNAMES[Date.today.wday-5] %></a></li>
  <li class=""><a href="#today-6" data-toggle="tab"><%= Date::DAYNAMES[Date.today.wday-6] %></a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="today">
    <% if @items.where(created_at: (Time.now.midnight..Time.now.midnight + 1.day)).present? %>
    <%= simple_form_for(Order.new, :url => { :action=>"create", :controller=>"orders" }) do |f| %>
      <h2>Блюда на Сегодня(<%= Date::DAYNAMES[Date.today.wday] %>)</h2>
      <h3>Первые блюда</h3>
      <div class="row">
        <% @items.where(category: 'Первое').where(created_at: (Time.now.midnight..Time.now.midnight + 1.day)).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
                <input id="order_first_dish_item.id" name="order[first_dish]" type="radio" value="<%= item.id %>" />
                <% if current_user == User.first %>
                  <%= link_to 'Редактировать', edit_item_path(item), :title => 'Редактировать' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Вторые блюда</h3>
      <div class="row">
        <% @items.where(category: "Второе").where(created_at: (Time.now.midnight..Time.now.midnight + 1.day)).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
                <input id="order_second_dish_item.id" name="order[second_dish]" type="radio" value="<%= item.id %>" />
                <% if current_user == User.first %>
                  <%= link_to 'Редактировать', edit_item_path(item), :title => 'Редактировать' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Напитки</h3>
      <div class="row">
        <% @items.where(category: 'Напиток').where(created_at: (Time.now.midnight..Time.now.midnight + 1.day)).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
                <input id="order_drink_item.id" name="order[drink]" type="radio" value="<%= item.id %>" />
                <% if current_user == User.first %>
                  <%= link_to 'Редактировать', edit_item_path(item), :title => 'Редактировать' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <%= f.button :submit %>
    <% end %>
    <% else %>
      <h2>На Сегодня(<%= Date::DAYNAMES[Date.today.wday] %>) блюд нет.</h2>
    <% end %>
  </div>

  <div class="tab-pane fade" id="today-1">
    <% if @items.where(created_at: (Time.now.midnight - 1.day)..Time.now.midnight).present? %>
      <h2>Блюда на <%= Date::DAYNAMES[Date.today.wday-1] %></h2>
      <h3>Первые блюда</h3>
      <div class="row">
        <% @items.where(category: 'Первое').where(created_at: (Time.now.midnight - 1.day)..Time.now.midnight).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Вторые блюда</h3>
      <div class="row">
        <% @items.where(category: "Второе").where(created_at: (Time.now.midnight - 1.day)..Time.now.midnight).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Напитки</h3>
      <div class="row">
        <% @items.where(category: 'Напиток').where(created_at: (Time.now.midnight - 1.day)..Time.now.midnight).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>На <%= Date::DAYNAMES[Date.today.wday-1] %> блюд нет.</h2>
    <% end %>
  </div>

  <div class="tab-pane fade" id="today-2">
    <% if @items.where(created_at: (Time.now.midnight - 2.day)..Time.now.midnight- 1.day).present? %>
      <h2>Блюда на <%= Date::DAYNAMES[Date.today.wday-2] %></h2>
      <h3>Первые блюда</h3>
      <div class="row">
        <% @items.where(category: 'Первое').where(created_at: (Time.now.midnight - 2.day)..Time.now.midnight- 1.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Вторые блюда</h3>
      <div class="row">
        <% @items.where(category: "Второе").where(created_at: (Time.now.midnight - 2.day)..Time.now.midnight- 1.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Напитки</h3>
      <div class="row">
        <% @items.where(category: 'Напиток').where(created_at: (Time.now.midnight - 2.day)..Time.now.midnight- 1.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>На <%= Date::DAYNAMES[Date.today.wday-2] %> блюд нет.</h2>
    <% end %>
  </div>
  <div class="tab-pane fade" id="today-3">
    <% if @items.where(created_at: (Time.now.midnight - 3.day)..Time.now.midnight- 2.day).present? %>
      <h2>Блюда на <%= Date::DAYNAMES[Date.today.wday-3] %></h2>
      <h3>Первые блюда</h3>
      <div class="row">
        <% @items.where(category: 'Первое').where(created_at: (Time.now.midnight - 3.day)..Time.now.midnight- 2.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Вторые блюда</h3>
      <div class="row">
        <% @items.where(category: "Второе").where(created_at: (Time.now.midnight - 3.day)..Time.now.midnight- 2.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Напитки</h3>
      <div class="row">
        <% @items.where(category: 'Напиток').where(created_at: (Time.now.midnight - 3.day)..Time.now.midnight- 2.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>На <%= Date::DAYNAMES[Date.today.wday-3] %> блюд нет.</h2>
    <% end %>
  </div>
  <div class="tab-pane fade" id="today-4">
    <% if @items.where(created_at: (Time.now.midnight - 4.day)..Time.now.midnight- 3.day).present? %>
      <h2>Блюда на <%= Date::DAYNAMES[Date.today.wday-4] %></h2>
      <h3>Первые блюда</h3>
      <div class="row">
        <% @items.where(category: 'Первое').where(created_at: (Time.now.midnight - 4.day)..Time.now.midnight- 3.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Вторые блюда</h3>
      <div class="row">
        <% @items.where(category: "Второе").where(created_at: (Time.now.midnight - 4.day)..Time.now.midnight- 3.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Напитки</h3>
      <div class="row">
        <% @items.where(category: 'Напиток').where(created_at: (Time.now.midnight - 4.day)..Time.now.midnight- 3.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>На <%= Date::DAYNAMES[Date.today.wday-4] %> блюд нет.</h2>
    <% end %>
  </div>

  <div class="tab-pane fade" id="today-5">
    <% if @items.where(created_at: (Time.now.midnight - 5.day)..Time.now.midnight- 4.day).present? %>
      <h2>Блюда на <%= Date::DAYNAMES[Date.today.wday-5] %></h2>
      <h3>Первые блюда</h3>
      <div class="row">
        <% @items.where(category: 'Первое').where(created_at: (Time.now.midnight - 5.day)..Time.now.midnight- 4.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Вторые блюда</h3>
      <div class="row">
        <% @items.where(category: "Второе").where(created_at: (Time.now.midnight - 5.day)..Time.now.midnight- 4.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Напитки</h3>
      <div class="row">
        <% @items.where(category: 'Напиток').where(created_at: (Time.now.midnight - 5.day)..Time.now.midnight- 4.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>
      <h2>На <%= Date::DAYNAMES[Date.today.wday-5] %> блюд нет.</h2>
    <% end %>
  </div>

  <div class="tab-pane fade" id="today-6">
    <% if @items.where(created_at: (Time.now.midnight - 6.day)..Time.now.midnight- 5.day).present? %>
      <h2>Блюда на <%= Date::DAYNAMES[Date.today.wday-6] %></h2>
      <h3>Первые блюда</h3>
      <div class="row">
        <% @items.where(category: 'Первое').where(created_at: (Time.now.midnight - 6.day)..Time.now.midnight- 5.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Вторые блюда</h3>
      <div class="row">
        <% @items.where(category: "Второе").where(created_at: (Time.now.midnight - 6.day)..Time.now.midnight- 5.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3>Напитки</h3>
      <div class="row">
        <% @items.where(category: 'Напиток').where(created_at: (Time.now.midnight - 6.day)..Time.now.midnight- 5.day).each do |item| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="<%= item.photo %>" alt="<%= item.name %>">
              <div class="caption">
                <h4><%= item.name %></h4>
                <p>Цена: <%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>
      <h2>На <%= Date::DAYNAMES[Date.today.wday-6] %> блюд нет.</h2>
    <% end %>
  </div>

  <div class="tab-pane fade" id="today-5">
    <% if @items.where(created_at: (Time.now.midnight - 6.day)..Time.now.midnight- 5.day).present? %>
        <h2>Блюда на <%= Date::DAYNAMES[Date.today.wday-6] %></h2>
        <h3>Первые блюда</h3>
        <div class="row">
          <% @items.where(category: 'Первое').where(created_at: (Time.now.midnight - 6.day)..Time.now.midnight- 5.day).each do |item| %>
            <div class="col-md-3 col-sm-6">
              <div class="thumbnail">
                <img src="<%= item.photo %>" alt="<%= item.name %>">
                <div class="caption">
                  <h4><%= item.name %></h4>
                  <p>Цена: <%= item.price %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <h3>Вторые блюда</h3>
        <div class="row">
          <% @items.where(category: "Второе").where(created_at: (Time.now.midnight - 6.day)..Time.now.midnight- 5.day).each do |item| %>
            <div class="col-md-3 col-sm-6">
              <div class="thumbnail">
                <img src="<%= item.photo %>" alt="<%= item.name %>">
                <div class="caption">
                  <h4><%= item.name %></h4>
                  <p>Цена: <%= item.price %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <h3>Напитки</h3>
        <div class="row">
          <% @items.where(category: 'Напиток').where(created_at: (Time.now.midnight - 6.day)..Time.now.midnight- 5.day).each do |item| %>
            <div class="col-md-3 col-sm-6">
              <div class="thumbnail">
                <img src="<%= item.photo %>" alt="<%= item.name %>">
                <div class="caption">
                  <h4><%= item.name %></h4>
                  <p>Цена: <%= item.price %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>

    <% else %>
      <h2>На <%= Date::DAYNAMES[Date.today.wday-6] %> блюд нет.</h2>
    <% end %>
  </div>
</div>













