<h1>Новое блюдо</h1>

<div class="row">
  <div class="col-md-6">
    <% if current_user == User.first %>
      <%= render 'form' %>
    <% else %>
      <p>Что здесь забыл обычный пользователь? Здесь может шариться только админ</p>
    <% end %>
  </div>
</div>
