<% if current_user == User.first %>
  <h1>Блюдо "<%= @item.name %>"</h1>

  <div class="row">
    <div class="col-md-12 buffer-top">
      <div class="row buffer-top">
        <table class="table table-striped">
          <tr>
            <td><b>ID</b></td>
            <td><b>Категория</b></td>
            <td><b>Название</b></td>
            <td><b>Стоимость</b></td>
            <td><b>Управление</b></td>
          </tr>
          <tr>
            <td><%= @item.id %></td>
            <td><%= @item.category %></td>
            <td><%= @item.name %></td>
            <td><%= @item.price %></td>
            <td>
              <%= link_to fa_icon('pencil'), edit_item_path(@item), :title => 'Редактировать' %>&nbsp;
              <%= link_to(fa_icon('trash'), @item, method: :delete, data:
                { confirm: t('are_you_sure') }, :title => 'Удалить' ) %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <%= link_to 'Вернуться', items_path, class: 'btn btn-primary' %>

<% else %>
  <p>Здесь может шариться только Admin</p>
<% end %>
